.add-items,
.item,
.order-block {
    display: inline-flex;
    border: 1px solid #000;
    flex-wrap: wrap;
}

.item {
    display: inline-block;
    width: 49%;
    min-height: 60px;
    margin: 4px 2px;
    border-radius: 10px;
}

.item:hover {
    cursor: pointer;
}

.item-name {
    margin: 6px 0;
}

.img {
    display: inline-block;
    width: 60px;
    height: 50px;
    vertical-align: text-bottom;
    margin: 0 8px;
}

.inner-item {
    display: inline-block;
    margin: 18px 10px;

}

.order-list {
    width: 100%;
    padding: 20px 20px;
}

.order {
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.ordered-item,
.amount,
.price,
.subtract-btn {
    display: inline-block;
    margin: 10px 20px;
    width: 15%;
}

.total-price {
    display: block;
    margin: 10px 0;
    padding: 0 20px;
}

.subtract-btn {
    border: none;
    background-size: cover;
    margin: 0 20px;
    padding: 6px 0;
}
