.App {
  display: flex;
  margin: 20px 0;
}
.Container {
  width: 1460px;
}

.add-items {
  text-align: center;
  width: 45%;
  padding: 20px 10px;
  margin: 0 5px;
  position: relative;
}

.block-title {
  font-family: sans-serif, Arial;
  font-size: 18px;
  position: absolute;
  top: -9px;
  left: 20px;
  background: #fff;
  margin: 0;
  padding: 0 16px;
}

.order-block {
  width: 45%;
  position: relative;
}

.empty {
  display: block;
  margin: 40px 20px;
  padding: 20px;
}

.empty span {
  display: block;
  margin: 10px 0;
}


